*.fir
*.json
chisel/*.sv
chisel/.bsp
chisel/project/target
chisel/target
vivado/fpga-updated/fpga-updated.sims
vivado/fpga-updated/fpga-updated.runs
vivado/fpga-updated/fpga-updated.cache
vivado/fpga-updated/fpga-updated.hw
vivado/fpga-updated/fpga-updated.ip_user_files
vivado/fpga-updated/fpga-updated.gen
vivado/xdma_0_ex
*.jou
*.log
*.str